<div class="ekart--product--container">
  <!-- <img src={{product.pImage}}> -->

  <img [src]="product.pImage" />

  <p>Name: {{ product.name }}</p>
  <p>Price: {{ "$" + product.price }}</p>
  <p>Color: {{ product.color }}</p>
  <p>Dicounted Price: {{ getDiscountedPrice().toFixed(2) }}</p>
  <p></p>
  <p>
    {{
      product.inStock > 0 ? "Only " + product.inStock + " left" : "Not in Stock"
    }}
  </p>
  <p>
    <button (click)="decrementValueInCart()" [disabled]="addToCart == 0"> - </button>
      <span>{{addToCart}}</span>
    <button (click)="incerementValueInCart()" [disabled]="addToCart == product.inStock"> + </button>
    <!-- <input (input)="onNamechange($event)" /><br /> -->
  </p>

  <!-- <p>name: {{ name }}</p> -->
  <!-- <input bind-value="name" [attr.aria-hidden]=""> -->
  <!--disabled, hidden, checked-->
</div>
