<app-filter [all]="totalNumberOfProducts"
            [inStock]="inStockNumberOfProducts"
            [outOfStock]="outOfStockNumberOfProducts"
            (selectedFilterRadioButtonChangedEventEmitter)="onFilterChanged($event)">

</app-filter>
<div class="ekart--product--container">
<!--  *ngIf="selectedFilterRadioButton === 'all' || prod.is_in_inventory.toString() === selectedFilterRadioButton"-->
  <ng-container *ngFor="let prod of products;let i = index">
    <app-product [product]="prod"
                 *ngIf="searchText === '' || prod.name.toLowerCase().includes(searchText)"
                 (click)="selectedProduct = prod"> {{i}} </app-product>
  </ng-container>
</div>

